aenum==3.1.11
aiohttp==3.8.3
aiosignal==1.3.1
appdirs==1.4.4
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1667325728359/work
async-timeout==4.0.2
attrs==22.1.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.1
boto3==1.25.1
branca==0.6.0
cachetools==5.2.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-params==0.4.0
cloup==1.0.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1669288892734/work
contourpy==1.0.6
cryptography==40.0.1
cycler==0.11.0
dateparser==1.1.4
debugpy @ file:///D:/bld/debugpy_1660619093354/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deprecation==2.1.0
dill==0.3.6
diskcache==5.4.0
eccodes==1.2.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
environs==9.5.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
folium==0.13.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
h3==3.7.4
idna==3.4
ipykernel @ file:///D:/bld/ipykernel_1669056763652/work
ipython @ file:///D:/bld/ipython_1667140819615/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2==3.1.2
joblib==1.2.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1668623095912/work
jupyter_core @ file:///D:/bld/jupyter_core_1668030985185/work
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
marshmallow==3.19.0
matplotlib==3.6.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
measurement==3.2.0
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.2
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
nicky==2.0.0
numpy==1.24.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.5.2
paramiko==3.1.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy==0.5.3
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.3.0
Pint==0.17
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1669057097528/work
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
psycopg2==2.9.5
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycparser==2.21
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
PyNaCl==1.5.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyPDF2==1.28.6
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.21.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32==227
pyzmq @ file:///C:/ci/pyzmq_1657616005830/work
rapidfuzz==2.13.2
regex==2022.10.31
requests==2.28.1
s3transfer==0.6.0
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.11.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.3.2.post1
sshtunnel==0.4.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1668260892666/work
statsmodels==0.13.5
sympy==1.11.1
tabulate==0.8.10
threadpoolctl==3.1.0
timezonefinder==6.1.7
tornado @ file:///D:/bld/tornado_1656937958156/work
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1666115969632/work
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
urllib3==1.26.13
validators==0.18.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
wetterdienst==0.50.0
wincertstore==0.2
yarl==1.8.1
